.asw-widget,
.asw-menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.asw-widget *,
.asw-menu * {
    box-sizing: border-box !important;
}

.asw-menu-btn {
    position: fixed;
    z-index: 500000;
    left: 30px;
    bottom: 30px;
    box-shadow: 0 5px 15px 0 rgb(37 44 97 / 15%),
        0 2px 4px 0 rgb(93 100 148 / 20%);
    transition: transform 0.2s ease;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
    text-decoration: none !important;
    background: rgb(45, 47, 53) !important;
}

.asw-menu-btn svg {
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    max-height: 30px;
    background: transparent !important;
}

.asw-menu-btn:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .asw-menu-btn {
        width: 42px;
        height: 42px;
    }

    .asw-menu-btn svg {
        width: 26px;
        height: 26px;
        min-height: 26px;
        min-width: 26px;
        max-width: 26px;
        max-height: 26px;
    }
}

@media print {
    .asw-menu-btn {
        display: none;
    }
}
